# python==3.12
requests==2.31.0
flask==3.0.0
flask[async]==3.0.0
python-dotenv==1.0.0
gunicorn==21.2.0
SQLAlchemy==2.0.23
mysql-connector-python==8.2.0
numpy==1.26.1
pandas==2.1.2
pydantic==2.4.2
Flask-SQLAlchemy==3.1.1
pya3==1.0.29
websocket-client==1.6.4